@{
    Layout = "~/Views/Shared/_BlogBaseLayout.cshtml";
}
<section>
    @RenderBody()
</section>

<section>
    @section right{
        @Html.Partial("_rightPartial")
    }
</section>


@section scripts{

    @RenderSection("scripts", required: false)
}
@section featured{
    @RenderSection("featured", false)
}